<a href="https://colab.research.google.com/github/sarahgruetz/AluraChallenge_DS_2/blob/main/Alura_Challenge_semana_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 37 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 40.4 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.1-py2.py3-none-any.whl size=281845512 sha256=af0b47b9f82f407a71755201d2791c2a9159e2b6902d21ef5c876a75aaf86adf
  Stored in directory: /root/.cache/pip/wheels/42/59/f5/79a5bf931714dcd201b26025347785f087370a10a3329a899c
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.1

In [2]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .master('local[*]') \
    .appName("Alura Challenge") \
    .getOrCreate()

In [3]:
import zipfile

zipfile.ZipFile('/content/drive/MyDrive/curso-spark/ChallengeAlura/semana-2.zip','r')\
        .extractall('/content/drive/MyDrive/curso-spark/ChallengeAlura/dados')

In [14]:
dataset = spark.read.parquet('/content/drive/MyDrive/curso-spark/ChallengeAlura/dados/dataset_transformado_parquet')

In [8]:
dataset.show(truncate=False)

+------------------------------------+-----+----------+---------+---------+-----------------------------------------------------------------------------------------------------------------------------------------+-------+------+------------+------------+-----------+----+-----------------------+------------+----------+----+-----+------+
|id                                  |andar|area_total|area_util|banheiros|caracteristicas                                                                                                                          |quartos|suites|tipo_anuncio|tipo_unidade|tipo_uso   |vaga|bairro                 |zona        |condominio|iptu|tipo |valor |
+------------------------------------+-----+----------+---------+---------+-----------------------------------------------------------------------------------------------------------------------------------------+-------+------+------------+------------+-----------+----+-----------------------+------------+----------+----+-----+------+
|03a386b6-7ab8-4eff-891d-f8a16efc1989|0    |43        |43       |1        |[Churrasqueira, Academia, Playground, Salão de festas, Condomínio fechado, Portão eletrônico, Portaria 24h, Animais permitidos]          |2      |null  |Usado       |Apartamento |Residencial|1   |Realengo               |Zona Oeste  |285       |null|Venda|22999 |
|1fe78d41-b8e0-4d21-a1a8-72cb7863f441|0    |44        |44       |1        |[]                                                                                                                                       |2      |0     |Usado       |Apartamento |Residencial|0   |Irajá                  |Zona Norte  |170       |0   |Venda|110000|
|1fa1c1e5-e98c-433f-9675-1b43d7d6da01|4    |null      |55       |1        |[]                                                                                                                                       |2      |0     |Usado       |Apartamento |Residencial|1   |Cosmos                 |Zona Oeste  |null      |null|Venda|115000|
|a6ab01ae-3d40-40e7-bb6a-f2334e0abbe0|2    |null      |55       |1        |[]                                                                                                                                       |2      |0     |Usado       |Apartamento |Residencial|0   |Tomás Coelho           |Zona Norte  |null      |null|Venda|115000|
|1d8ff7a2-16bd-4e3f-a92e-1b85f923ebb0|0    |null      |50       |1        |[]                                                                                                                                       |1      |null  |Usado       |Apartamento |Residencial|0   |Centro                 |Zona Central|1300      |2679|Venda|125000|
|40a2cbde-946b-42da-b7f2-b80057c7a47f|2    |47        |47       |1        |[Condomínio fechado, Portaria 24h, Salão de festas, Churrasqueira, Piscina, Animais permitidos]                                          |2      |0     |Usado       |Apartamento |Residencial|1   |Campo Grande           |Zona Oeste  |380       |null|Venda|138000|
|be269ddf-a4a3-4a72-bd54-93cdccf512dd|0    |17089     |45       |1        |[Churrasqueira, Condomínio fechado, Piscina]                                                                                             |2      |0     |Usado       |Apartamento |Residencial|1   |Campo Grande           |Zona Oeste  |356       |0   |Venda|140000|
|4b7e3d59-34fd-4bac-9232-1015cb3b3a24|3    |48        |48       |1        |[Churrasqueira, Piscina, Playground, Salão de festas, Condomínio fechado, Portão eletrônico, Portaria 24h, Animais permitidos]           |2      |null  |Usado       |Apartamento |Residencial|1   |Campo Grande           |Zona Oeste  |0         |0   |Venda|150000|
|a1a0c2ac-4fa8-4b02-a087-f9d76b6bccb7|9    |null      |55       |1        |[Churrasqueira, Elevador, Salão de festas, Condomínio fechado, Portão eletrônico, Portaria 24h, Animais permitidos]                      |2      |null  |Usado       |Apartamento |Residencial|1   |Freguesia (Jacarepaguá)|Zona Oeste  |780       |660 |Venda|160000|
|390d2b88-e06d-47e5-ba7f-a680130ac5f0|0    |70        |70       |2        |[Salão de festas]                                                                                                                        |2      |0     |Usado       |Apartamento |Residencial|1   |Praça Seca             |Zona Oeste  |420000    |null|Venda|159000|
|07bb07c1-21cc-4daa-99c4-e12b53da67d2|2    |50        |48       |1        |[Condomínio fechado, Animais permitidos]                                                                                                 |1      |0     |Usado       |Apartamento |Residencial|0   |Piedade                |Zona Norte  |10        |10  |Venda|170000|
|7d3a1bae-988c-44b9-8e42-99267dda4245|5    |40        |40       |1        |[Playground, Churrasqueira, Salão de festas, Condomínio fechado, Portão eletrônico, Portaria 24h, Animais permitidos]                    |2      |0     |Usado       |Apartamento |Residencial|1   |Braz de Pina           |Zona Norte  |150       |120 |Venda|189000|
|47af17f0-1c81-474c-b7ec-fefbe48954d0|0    |65        |65       |1        |[]                                                                                                                                       |2      |0     |Usado       |Apartamento |Residencial|1   |Campinho               |Zona Oeste  |432       |null|Venda|185000|
|a9bd1575-e9f2-43d7-850c-c8d1385e6908|2    |50        |50       |1        |[Condomínio fechado, Portão eletrônico, Animais permitidos]                                                                              |1      |0     |Usado       |Apartamento |Residencial|1   |Madureira              |Zona Norte  |650       |1   |Venda|185000|
|cfca7253-3d02-4cdc-99de-714ad1b4cc61|5    |45        |45       |1        |[Academia, Churrasqueira, Condomínio fechado, Elevador, Playground, Portão eletrônico, Portaria 24h, Salão de festas, Animais permitidos]|2      |1     |Usado       |Apartamento |Residencial|0   |Taquara                |Zona Oeste  |150       |40  |Venda|199000|
|b571ae97-e3d8-4fbf-80b9-2c2c78fb02c1|0    |48        |48       |1        |[Academia, Condomínio fechado, Elevador, Portaria 24h, Salão de festas, Churrasqueira, Portão eletrônico, Animais permitidos]            |2      |null  |Usado       |Apartamento |Residencial|0   |Bonsucesso             |Zona Norte  |0         |0   |Venda|205933|
|eb5fdc65-acae-45f8-9075-b5238b19bd9e|0    |44        |44       |1        |[Academia, Condomínio fechado, Elevador, Portaria 24h, Salão de festas, Playground, Portão eletrônico, Animais permitidos]               |2      |null  |Usado       |Apartamento |Residencial|0   |Bonsucesso             |Zona Norte  |0         |0   |Venda|206000|
|77cd0388-e3ff-40c3-928c-f4d535049bff|2    |64        |64       |1        |[]                                                                                                                                       |2      |0     |Usado       |Apartamento |Residencial|0   |Jardim América         |Zona Norte  |0         |0   |Venda|220000|
|74a91f07-7387-4a8e-bfbe-c8aec0bf645f|0    |55        |55       |2        |[Salão de festas, Elevador]                                                                                                              |1      |0     |Usado       |Apartamento |Residencial|1   |Engenho Novo           |Zona Norte  |600       |652 |Venda|219130|
|6aab1165-508d-4554-b122-b61c178109de|3    |60        |60       |1        |[Animais permitidos]                                                                                                                     |3      |0     |Usado       |Apartamento |Residencial|1   |Cascadura              |Zona Norte  |98        |1   |Venda|230000|
+------------------------------------+-----+----------+---------+---------+-----------------------------------------------------------------------------------------------------------------------------------------+-------+------+------------+------------+-----------+----+-----------------------+------------+----------+----+-----+------+
only showing top 20 rows

## Seleção de Features

In [15]:
dataset\
  .select('tipo_anuncio')\
  .groupBy('tipo_anuncio')\
  .count()\
  .show()

+------------+-----+
|tipo_anuncio|count|
+------------+-----+
|       Usado|66562|
+------------+-----+

In [16]:
dataset\
  .select('tipo_unidade')\
  .groupBy('tipo_unidade')\
  .count()\
  .show()

+------------+-----+
|tipo_unidade|count|
+------------+-----+
| Apartamento|66562|
+------------+-----+

In [17]:
dataset\
  .select('tipo_uso')\
  .groupBy('tipo_uso')\
  .count()\
  .show()

+-----------+-----+
|   tipo_uso|count|
+-----------+-----+
|Residencial|66562|
+-----------+-----+

In [18]:
dataset\
  .select('tipo')\
  .groupBy('tipo')\
  .count()\
  .show()

+-----+-----+
| tipo|count|
+-----+-----+
|Venda|66562|
+-----+-----+

`id` -> código de identificação do anúncio. Não será útil para o modelo.

`tipo_anuncio` -> foram selecionados apenas os registros com valor Usado, portanto essa coluna não é relevante para o modelo.

`tipo_unidade` -> foram selecionados apenas os registros com valor Apartamento, portanto essa coluna não é relevante para o modelo.

`tipo_uso` -> foram selecionados apenas os registros com valor Residencial, portanto essa coluna não é relevante para o modelo.

`tipo` -> foram selecionados apenas os registros com valor Venda, portanto essa coluna não é relevante para o modelo.

In [19]:
dataset = dataset\
              .select(
                  'andar',
                  'area_total',
                  'area_util',
                  'banheiros',
                  'caracteristicas',
                  'quartos',
                  'suites',
                  'vaga',
                  'bairro',
                  'zona',
                  'condominio',
                  'iptu',
                  'valor'
              )

## Convertendo tipo das colunas

In [20]:
dataset.printSchema()

root
 |-- andar: long (nullable = true)
 |-- area_total: string (nullable = true)
 |-- area_util: string (nullable = true)
 |-- banheiros: long (nullable = true)
 |-- caracteristicas: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- quartos: long (nullable = true)
 |-- suites: long (nullable = true)
 |-- vaga: long (nullable = true)
 |-- bairro: string (nullable = true)
 |-- zona: string (nullable = true)
 |-- condominio: string (nullable = true)
 |-- iptu: string (nullable = true)
 |-- valor: string (nullable = true)

In [23]:
from pyspark.sql.types import FloatType

In [24]:
dataset = dataset\
              .withColumn('area_total', dataset.area_total.cast(FloatType()))\
              .withColumn('area_util', dataset.area_util.cast(FloatType()))\
              .withColumn('condominio', dataset.condominio.cast(FloatType()))\
              .withColumn('iptu', dataset.iptu.cast(FloatType()))\
              .withColumn('valor', dataset.valor.cast(FloatType()))\

In [25]:
dataset.printSchema()

root
 |-- andar: long (nullable = true)
 |-- area_total: float (nullable = true)
 |-- area_util: float (nullable = true)
 |-- banheiros: long (nullable = true)
 |-- caracteristicas: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- quartos: long (nullable = true)
 |-- suites: long (nullable = true)
 |-- vaga: long (nullable = true)
 |-- bairro: string (nullable = true)
 |-- zona: string (nullable = true)
 |-- condominio: float (nullable = true)
 |-- iptu: float (nullable = true)
 |-- valor: float (nullable = true)

## Arrumando a coluna `caracteristicas`

In [26]:
from pyspark.sql import functions as f

In [32]:
dataset.withColumn('caracteristicas',
                   f.when((f.size(f.col('caracteristicas')) == 0), f.lit(None)).otherwise(f.col("caracteristicas")))\
                   .show()

+-----+----------+---------+---------+--------------------+-------+------+----+--------------------+------------+----------+------+--------+
|andar|area_total|area_util|banheiros|     caracteristicas|quartos|suites|vaga|              bairro|        zona|condominio|  iptu|   valor|
+-----+----------+---------+---------+--------------------+-------+------+----+--------------------+------------+----------+------+--------+
|    0|      43.0|     43.0|        1|[Churrasqueira, A...|      2|  null|   1|            Realengo|  Zona Oeste|     285.0|  null| 22999.0|
|    0|      44.0|     44.0|        1|                null|      2|     0|   0|               Irajá|  Zona Norte|     170.0|   0.0|110000.0|
|    4|      null|     55.0|        1|                null|      2|     0|   1|              Cosmos|  Zona Oeste|      null|  null|115000.0|
|    2|      null|     55.0|        1|                null|      2|     0|   0|        Tomás Coelho|  Zona Norte|      null|  null|115000.0|
|    0|      null|     50.0|        1|                null|      1|  null|   0|              Centro|Zona Central|    1300.0|2679.0|125000.0|
|    2|      47.0|     47.0|        1|[Condomínio fecha...|      2|     0|   1|        Campo Grande|  Zona Oeste|     380.0|  null|138000.0|
|    0|   17089.0|     45.0|        1|[Churrasqueira, C...|      2|     0|   1|        Campo Grande|  Zona Oeste|     356.0|   0.0|140000.0|
|    3|      48.0|     48.0|        1|[Churrasqueira, P...|      2|  null|   1|        Campo Grande|  Zona Oeste|       0.0|   0.0|150000.0|
|    9|      null|     55.0|        1|[Churrasqueira, E...|      2|  null|   1|Freguesia (Jacare...|  Zona Oeste|     780.0| 660.0|160000.0|
|    0|      70.0|     70.0|        2|   [Salão de festas]|      2|     0|   1|          Praça Seca|  Zona Oeste|  420000.0|  null|159000.0|
|    2|      50.0|     48.0|        1|[Condomínio fecha...|      1|     0|   0|             Piedade|  Zona Norte|      10.0|  10.0|170000.0|
|    5|      40.0|     40.0|        1|[Playground, Chur...|      2|     0|   1|        Braz de Pina|  Zona Norte|     150.0| 120.0|189000.0|
|    0|      65.0|     65.0|        1|                null|      2|     0|   1|            Campinho|  Zona Oeste|     432.0|  null|185000.0|
|    2|      50.0|     50.0|        1|[Condomínio fecha...|      1|     0|   1|           Madureira|  Zona Norte|     650.0|   1.0|185000.0|
|    5|      45.0|     45.0|        1|[Academia, Churra...|      2|     1|   0|             Taquara|  Zona Oeste|     150.0|  40.0|199000.0|
|    0|      48.0|     48.0|        1|[Academia, Condom...|      2|  null|   0|          Bonsucesso|  Zona Norte|       0.0|   0.0|205933.0|
|    0|      44.0|     44.0|        1|[Academia, Condom...|      2|  null|   0|          Bonsucesso|  Zona Norte|       0.0|   0.0|206000.0|
|    2|      64.0|     64.0|        1|                null|      2|     0|   0|      Jardim América|  Zona Norte|       0.0|   0.0|220000.0|
|    0|      55.0|     55.0|        2|[Salão de festas,...|      1|     0|   1|        Engenho Novo|  Zona Norte|     600.0| 652.0|219130.0|
|    3|      60.0|     60.0|        1|[Animais permitidos]|      3|     0|   1|           Cascadura|  Zona Norte|      98.0|   1.0|230000.0|
+-----+----------+---------+---------+--------------------+-------+------+----+--------------------+------------+----------+------+--------+
only showing top 20 rows

In [33]:
dataset = dataset.withColumn('caracteristicas',
                   f.when((f.size(f.col('caracteristicas')) == 0), f.lit(None)).otherwise(f.col("caracteristicas")))

## Lidando com os valores nulos